.logo {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    filter: drop-shadow(5px 5px 4px #95959a);
  }

.main-button{
    margin: 5px;
    background-color: rgb(206, 134, 2);
  }

.toolbar{
    justify-content: flex-end;
    background-color: rgb(58, 57, 57);
}