tr th {
    justify-content: center;
    text-align: center;
    margin: 20px
  }
  
  td {
    text-align: center;
  }
  
  table {
    width: 100%;
    margin-bottom: 3em;
  }
  
  mat-icon {
    cursor: pointer;
  }
  
  .buttons{
    float: right;
  }

  .add-button{
    margin: 20px;
    background-color: rgb(206, 134, 2);
  }
  
  .container{
      margin-left: 5%;
      margin-right: 5%;
  }
  
  .post-image{
      margin: 5px;
      width: 150px;
      border-radius: 10%;
  }
  