<div>
  <h1 mat-dialog-title> {{ data.title }}</h1>
  <mat-dialog-content>
    <div class="msg">
      <mat-icon>info</mat-icon>
      {{ data.msg }}
    </div>
    <form [formGroup]="tasksForm">

      <!-- Title -->

      <mat-form-field appearance="outline" class="mat-form-field-should-float formfield" required>
        <mat-label>
          {{ 'Title' }}
        </mat-label>
        <input matInput type="text" formControlName="title" #input maxlength="99">
        <mat-hint align="end">{{ input.value.length || 0}}/99</mat-hint>
      </mat-form-field>

      <!-- Content -->

      <mat-form-field appearance="outline" class="content-input formfield" required>
        <mat-label>
          {{ 'Content' }}
        </mat-label>
        <input matInput type="text" formControlName="content" #input maxlength="99">
        <mat-hint align="end">{{ input.value.length || 0}}/99</mat-hint>
      </mat-form-field>

      <!-- Tag -->

      <mat-form-field appearance="outline" class="content-input formfield" required>
        <mat-select formControlName="tag" placeholder="Select a tag...">
          <mat-option *ngFor="let tag of tags" [value]="tag">{{ tag }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button color="primary" *ngIf="showCancelButton" [mat-dialog-close]="confirm"
      class="cancel-button">
      {{ 'Cancel' }}
    </button>
    <button mat-raised-button color="primary" (click)="onAccept()" class="save-button">
      {{ 'Save' }}
    </button>
  </mat-dialog-actions>
</div>
